<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portofolio | {{title}}</title>
  {{ style('style') }}
</head>
<body>
  <header>
    <h1>Welcome to my website using AdonisJS</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <div class="fade-in">
    <section class="content slide-up">
        <h2>Home Page</h2>
        <p>This is the home page content. Here, you can learn about Flutter and explore my past projects.</p>

        <h3>What is Flutter?</h3>
        <p>Flutter is an open-source UI software development toolkit created by Google. It is used to build natively compiled applications for mobile, web, and desktop from a single codebase.</p>

        <h3>Past Projects</h3>
        <ul>
        <li>A mobile app for task management using Flutter and Firebase</li>
        <li>An e-commerce app built with Flutter, showcasing product listings and shopping cart functionality</li>
        <li>A weather app that provides real-time weather information using Flutter and a weather API</li>
        </ul>
    </section>
  </div>
</body>
</html>
